$lantanoidsGapWidth: 5px;
$semimetalMarkWidth: 10px;
$radioactiveMarkWidth: 4px;

.element-container {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 0.2em;
  outline: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .symbol {
      font-size: 180%;
      line-height: 1em;
    }
    .number {
      font-weight: bold;
    }
  }

  .details {
    font-size: 60%;
    .weight-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .weight {
        font-weight: bold;
      }
    }
    .names {
      margin-top: 0.2em;
      .main-name {
        font-weight: bold;
      }
    }
  }

  .atomic-radius {
    position: absolute;
    z-index: 0;
    right: $radioactiveMarkWidth/2;
    bottom: $radioactiveMarkWidth/2;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    .radioactive {
      width: $radioactiveMarkWidth;
      height: $radioactiveMarkWidth;
      border-radius: 50%;
      background-color: #e54f4f;
    }

    &.inversed-color {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &.semimetal {
    border-bottom-left-radius: $semimetalMarkWidth;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      width: $semimetalMarkWidth;
      height: $semimetalMarkWidth;
      background-color: #000;
    }
  }

  &.lanthanum,
  &.actinium {
    width: calc(70px - #{$lantanoidsGapWidth});
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      right: -$lantanoidsGapWidth;
      bottom: 0;
      width: $lantanoidsGapWidth;
      outline: 1px solid #000;
    }
  }

  &.cerium,
  &.thorium {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: -$lantanoidsGapWidth - 1;
      bottom: 0;
      width: $lantanoidsGapWidth;
      background-color: inherit;
      outline: 1px solid #000;
    }
  }

  &.cerium {
    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      top: -100%;
      left: -$lantanoidsGapWidth - 2px;
      bottom: 100%;
      width: $lantanoidsGapWidth;
      border-left: 1px dashed #000;
      border-right: 1px dashed #000;
    }
  }

  &.lanthanum:before {
    background-color: #c3d9b4;
  }
  &.actinium:before {
    background-color: #9cbd84;
  }
}
