.element-container {
  width: 70px;
  height: 70px;
  padding: 0.2em;
  box-shadow: 0 0 0 1px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .symbol {
      font-size: 180%;
      line-height: 1em;
    }
    .number {
      font-weight: bold;
    }
  }

  .details {
    font-size: 60%;
    .weight-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .weight {
        font-weight: bold;
      }
    }
    .names {
      margin-top: 0.2em;
      .main-name {
        font-weight: bold;
      }
    }
  }
}