@font-face {
  font-family: "Helvetica";
  src: url("helvetica.otf");
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("helvetica-bold.otf");
}

@font-face {
  font-family: "Helvetica Light";
  src: url("helvetica-light.otf");
}