$spaceSize: 2rem;
$scaleQ: 2.5;

.legend-container {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-column-end: 13;
  grid-row-end: 4;
  padding-bottom: $spaceSize;
  display: flex;
  justify-content: space-between;

  .cell-description {
    position: relative;
    flex: 1 0 70%;
    display: flex;
    justify-content: center;
		align-items: center;
    .legend-element-scale {
      transform: scale($scaleQ);
			padding: 1px/2*$scaleQ;
    }
    .annotations {
			position: absolute;
			z-index: 2;
			display: flex;
			justify-content: space-between;
      width: calc(100% - #{$spaceSize}*2);
      height: 100%;
			padding: 0 $spaceSize;
      .annotation {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "Helvetica Light";
				span {
          padding: 0 $spaceSize/4;
				}
        .line {
          position: relative;
          width: 80%;
					transform: translateY(50%) skew(45deg);
					transform-origin: top left;
					border-top: 2px solid #000;
					border-right: 2px solid #000;
					bottom: -50%;
        }
      }
      .left-side, .right-side {
        position: relative;
        width: 30%;
        height: 100%;
      }
			.left-side {
				// anything
			}
			.right-side {
				.annotation {
					flex-direction: row-reverse;
					span {
						text-align: right;
					}
					.line{
						transform-origin: top right;
						transform: translateY(50%) skew(-45deg);
						border-right: none;
						border-left: 2px solid #000;
					}
				}
			}
    }
  }

  .sort-list {
    height: 100%;
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid #000;
    font-size: 130%;
    .sort-item {
      display: flex;
      align-items: center;
      .sort-sign {
        font-family: "Helvetica";
        font-weight: 700;
      }
      .sort-color-block {
        width: $spaceSize * 2;
        height: $spaceSize * 1.2;
        margin: 0 $spaceSize/4 0 $spaceSize;
      }
    }
  }
}
